
.tabs {
	height: 100%;
}

.tabs-title {
	white-space: nowrap;
	width: 100%;
	margin: 0 auto;
}

.tabs-title view {
	
	margin-right: 16px;
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: #666666;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
}

.newleft {
	display: inline-block;
	width: 50%;
	float: left;
	
}
.tabs-title span{
	padding-left: 4px;
}
.tabs-title .active {
	color: #333333;
	font-weight:1000;
	border-left: 2px solid #24AC6B;
	
}

.newimg {
	width: 100px;
	height: 120rpx;
	display: inline-block;
	float: right;
	
}

.newimg image {
	width: 100%;
	height: 100%;
	border-radius: 4px;
}

.newswiper{
	width: 90%;
	margin: 0 auto;
	height: 300rpx;
}
.newswiper image {
	width: 100%;
	height: 300rpx;
	border-radius: 4px;
}
body{
	max-width: 720px;
	width: 100%;
	
}
.search{
		width: 90%;
		margin: 31.5px auto;
		position: relative;
		
	}
.search input{
			background-color: #f5f5f5;
			height: 40px;
			border-radius: 4px;
			padding-left: 40px;
		}
.search image{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 12px;
	left:16px;
}
.newsbox{
	width: 90%;
	margin: 10px auto;
}
.newtitle{
	font-family: 'PingFang SC';
	font-style: normal;
	font-weight: 1000;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}
.newsoure,.newdatetime{
	display: inline-block;
	float: left;
	font-family: 'PingFang SC';

	font-weight: 400;
	font-size: 10px;
	line-height: 28px;
	/* or 280% */
	text-align: center;
	color: #666666;
	margin-left: 3%;
	width: 30%;
}

.itembox{
	padding-top: 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	
}
.xgzx{
	font-family: 'PingFang SC';
	font-weight: 1000;
	font-size: 17px;
	line-height: 28px;
	color: #333333;
	margin: 16px 0 0 0 ;
}